{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid d-flex flex-column">
    <div class="container fondo-control" style="height: 180px;"></div>
    <div class="text-center pt-4 mb-5">
        <div>
            <h3>Vehiculos en Tránsito</h3>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <div class="col-10 col-sm-8 ">
                <table class="table table-striped table-bordered table-hover icon-link-hover" id="tabla-pendientes">
                    <thead>
                        <th class="text-center">Empresa</th>
                        <th class="text-center">Camión</th>
                        <th class="text-center">Semi</th>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Sector</th>
                    </thead>
                    <tbody>
                        {% for ingreso in ingresos%}
                        <tr class="disparador" data-id="{{ingreso.id}}" data-hdr="{{ingreso.hdr_id}}">
                            <td>
                                {{ingreso.empresa_transporte}}
                            </td>
                            <td>
                                {{ingreso.patente_chasis}}
                            </td>
                            <td>
                                {{ingreso.patente_semi}}
                            </td>
                            <td>
                                {{ingreso.producto}}
                            </td>
                            <td>
                                {{ingreso.hdr.sector}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-danger float-end bi bi-arrow-left-circle" onclick=history.back()> Regresar</button>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let tabla = document.getElementById('tabla-pendientes')
        
        if (tabla && tabla.rows.length > 1){
            tabla.addEventListener('click', function (event) {
                let fila = event.target.closest('tr')

                if (fila) {
                    id_ingreso = fila.getAttribute('data-id')
                    id_hdr = fila.getAttribute('data-hdr')
                    window.location.href = `{% url 'cargar_en_transito'%}?id_ingreso=${id_ingreso}&id_hdr=${id_hdr}`;
                }
            })
        }

    });
</script>
{% endblock js %}