{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid d-flex flex-column mb-5">
    <div class="container fondo-responsables" style="height: 180px;"></div>

    <!-- tabla de responsables -->
    <div class="text-center pt-4 mb-5">
        <div>
            <h3>Lista de Responsables</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-8">
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#modal" id="nuevoResponsable">Agregar</button>
                </div>
                <table class="table table-bordered table-striped table-hover" id="tablaResponsables">
                    <thead>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">Legajo</th>
                        <th class="text-center">Accion</th>
                    </thead>
                    <tbody>
                        {% for responsable in responsables %}
                        <tr class="disparador" data-id="{{responsable.id}}">
                            <td>{{responsable.nombre}}</td>
                            <td>{{responsable.apellido}}</td>
                            <td class="text-center">{{responsable.legajo}}</td>
                            <td>
                                <div class=" d-flex justify-content-around">
                                    <form action="{% url 'editarPersonal' %}" method="POST" class="editar-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{responsable.id}}">
                                        <button class="btn btn-warning bi bi-pencil-square editar" data-id = "{{responsable.id}}" data-nombre ="{{responsable.nombre}}" data-apellido="{{responsable.apellido}}"></button>
                                    </form>
                                    
                                    <form action="{% url 'eliminarPersonal' %}" method="POST" class="eliminar-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ responsable.id }}">
                                        <button class="btn btn-danger bi bi-trash3 eliminar" data-id = "{{responsable.id}}" data-nombre ="{{responsable.nombre}}" data-apellido="{{responsable.apellido}}"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Nuevo Responsable</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="contenido">
                    <form method="post" action="{% url 'agregarPersonal' %}">
                        {% csrf_token %}
                        {{ form_responsables|crispy }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let tablaResponsables = new DataTable('#tablaResponsables',{
        responsive : true,
        language:{
            url:'/static/vendor/datatables/es-Es.json'
        },
        columnDefs: [
            {
                orderable: false,
                targets: 3
            }, 
        ],
    });
    document.getElementById('tablaResponsables').addEventListener('click',(evento) => {
        const botonEliminar = evento.target.closest('.eliminar')
        const botonEditar = evento.target.closest('.editar')

        if (botonEliminar){
            evento.preventDefault()
            nombre = evento.target.getAttribute('data-nombre')
            apellido = evento.target.getAttribute('data-apellido')
    
            Swal.fire({
                title: 'Atención!',
                text: `Vas a eliminar al agente ${nombre} ${apellido}`,
                icon: 'warning',
                confirmButtonText: 'Aceptar',
                confirmButtonColor: '#DC3545',
                showCancelButton: true,
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = evento.target.closest('form');
                    if (form) {
                        form.submit(); // Envía el formulario
                    }
                }
            })
        }

        if (botonEditar){
            evento.preventDefault()
            nombre = evento.target.getAttribute('data-nombre')
            apellido = evento.target.getAttribute('data-apellido')

            Swal.fire({
                title: 'Atención!',
                text: `Vas a editar al agente ${nombre} ${apellido}`,
                icon: 'warning',
                confirmButtonText : 'Aceptar',
                confirmButtonColor : '#DC3545',
                showCancelButton : true,
                cancelButtonText: 'Cancelar'
            }).then((result) =>{
                if (result.isConfirmed){
                    const form = evento.target.closest('form')
                    if (form){
                        form.submit()
                    }
                }
            })
        }
    })
    })
</script>
{% endblock js %}

