{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fluid d-flex flex-column mb-5">
    <div class="container fondo-transportes" style="height: 100px;"></div>
    <div class="text-center pt-4 mb-5">
      <div>
        <h3>Egreso</h3>
      </div>
      <div class="d-flex justify-content-center my-3">
        <div class="col-10 col-sm-8">
        <div class="row">
          <div class="col-4">
           <label class="form-label" for="empresa_transporte">Empresa de Transporte</label>
           <input class='form-control text-center' id="empresa_transporte" type="text" value="{{ingreso.empresa_transporte}}" disabled>
          </div>
          <div class="col-4">
            <label for="producto" class="form-label">Producto</label>
            <input type="text" id="producto" name="producto" class="form-control text-center" value="{{ingreso.producto}} " disabled>
          </div>
          <div class="col-4">
            <label class="form-label" for="fecha">Fecha y hora de ingreso</label>
            <input class="form-control text-center" type="datetime" name="fecha" id="fecha" value="{{ ingreso.hora_ingreso|date:'d/m/Y\ H:i' }}" disabled >
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="patente_chasis" class="form-label">Patente</label>
            <input class="form-control text-center" id="patente_chasis" type="text" disabled value="{{ingreso.patente_chasis}}">
          </div>
          <div class="col-4">
            <label for="patente_semi" class="form-label">Patente Semi</label>
            <input type="text" class="form-control text-center" id="patente_semi" value="{{ingreso.patente_semi}}" disabled>
          </div>
        </div>
        <div class="mt-5 shadow" >
          <div>
            <h3>Salida</h3>
          </div>
          <div class="container">
            <form action="{% url 'guardarEgreso'%}?id_ingreso={{ingreso.id}}" method="POST" class="mb-3 pb-3">
              {% csrf_token %}
              <div class="row">
                <div class="col-2">
                  <label class="form-label" for="fecha salida">Fecha</label>
                  <input class="form-control" type="text" id="fecha salida" readonly value="" >
                </div>
                <div class="col-8"></div>
               <div class="col-2">
                  <label class="form-label" for="hora salida">Hora</label>
                  <input type="text" class="form-control text-center" id="hora salida" value="" readonly>
                </div> 
              </div>
              <div class="row mt-3">
            
              </div>
              <div class="row">
                <div class="col-4">
                  <label for="id_verificacion">Verificación del vehículo</label>
                  {{formulario_egreso.verificacion}}
                </div>
                <div class="col-4">
                  <label for="id_salida_autorizada">Salida Autorizada</label>
                  {{formulario_egreso.salida_autorizada}}
                </div>
                <div class="col-4">
                  <label for="id_responsable">Responsable</label>
                  {{formulario_egreso.responsable}}
                </div>
              </div>
              <div class="mt-3">
                <button  class="btn btn-primary" type="submit">Guardar Salida</button>
              </div>
            </form>
          </div>
        </div>
        </div>     
      </div>
      <button class="btn btn-danger float-end bi bi-arrow-left-circle"  onclick=history.back()> Regresar</button>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
document.addEventListener('DOMContentLoaded', function(){
  var tiempo = document.getElementById('hora salida')
  var fecha = document.getElementById('fecha salida')

  fecha.value = hoy()
  //fecha.value = new Date().toLocaleString('sv-SE', { timeZone: 'America/Argentina/Buenos_Aires' }).slice(0, 16);
  tiempo.value= hora()

  setInterval(function (){
    tiempo.value=hora()
  },5000)
})

function hoy(){
  hoy = new Date()
  let dia = hoy.getDate()
  let mes = hoy.getMonth() + 1
  let año = hoy.getFullYear()

  if (dia < 10) dia = '0' + dia;
  if (mes < 10) mes = '0' + mes;

  return dia + "/"  + mes + "/" +  año
  }

function hora(){    
  ahora = new Date()
  let hora = ahora.getHours()
  let minutos = ahora.getMinutes()

  if (minutos < 10) minutos = '0' + minutos; 

  return hora + ':' +  minutos
}

</script>
{% endblock js %}
