<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/vendor/bootstrap-5.3.2-dist/css/bootstrap.css">
    <script src="/app/static/vendor/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <title>Loguin</title>
</head>
<body>
    <div class="container">
        <div class="container ">
            <div class="container d-flex justify-content-center">
                <form action="" method="post">
                    <div class="form-row">
                        <div class="col-3">
                            <label for="usuario">Usuario</label>
                        </div>
                        <div class="col-4">
                            <input type="text" name="usuario" id="usuario">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="password">contraseña</label>
                        <input type="password" name="password" id="password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>