{% extends "base/base.html" %}
{% load static %}

{% block content %}
<!-- Grafico de cantidad de camiones ingresados -->

<div class="container text-center card-body shadow p-3 mb-5 bg-body rounded border border-2">
    <table class = "table table-responsive" style="width: 100%;">
        <caption></caption>
        <thead>
            <tr>
                <th>Dominio</th>
                <th>Balanza</th>
                <th>Inspección química</th>
                <th>Descarga</th>
                <th>Balanza</th>
                <th>Portería 2</th>
            </tr>
        </thead>
        <tbody>
            
            {% for ingreso in ingresos %}
              <tr>
                <td>{{ingreso.patente_chasis.patente}}</td>
                <!-- <td>{{ingreso.producto}}</td> -->
                <td>{% if ingreso.hdr.sector == 'Almacen PQ' and ingreso.producto.producto == 'Amoníaco' %}<img src="{% static 'img/amoniaco-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Almacen PQ' and ingreso.producto.producto == 'Azufre sólido' %}<img src="{% static 'img/sulf-granel-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Almacen PQ' and ingreso.producto.producto == 'Azufre Líquido' %}<img src="{% static 'img/sulf-liq-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                    {% if ingreso.hdr.sector == 'Almacen PQ' and ingreso.producto.producto == 'Hipoclorito' %}<img src="{% static 'img/hipoclorito-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                </td>
                <td>{% if ingreso.hdr.sector == 'Inspeccion PQ' and ingreso.producto.producto == 'Amoníaco' %}<img src="{% static 'img/amoniaco-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Inspeccion PQ' and ingreso.producto.producto == 'Azufre sólido' %}<img src="{% static 'img/sulf-granel-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Inspeccion PQ' and ingreso.producto.producto == 'Azufre Líquido' %}<img src="{% static 'img/sulf-liq-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                    {% if ingreso.hdr.sector == 'Inspeccion PQ' and ingreso.producto.producto == 'Hipoclorito' %}<img src="{% static 'img/hipoclorito-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                </td>
                 <td>{% if ingreso.producto.producto == 'Amoníaco' and ingreso.hdr.sector == 'PAMO' %}<img src="{% static 'img/amoniaco-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.producto.producto == 'Azufre sólido' and ingreso.hdr.sector == 'PSUL' %}<img src="{% static 'img/sulf-granel-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.producto.producto == 'Azufre Líquido' and ingreso.hdr.sector == 'PSUL' %}<img src="{% static 'img/sulf-liq-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                    {% if ingreso.producto.producto == 'Hipoclorito' and ingreso.hdr.sector == 'Hipoclorito' %}<img src="{% static 'img/hipoclorito-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                </td>
                 <td>{% if ingreso.hdr.sector == 'Almacen PQ E' and ingreso.producto.producto == 'Amoníaco' %}<img src="{% static 'img/amoniaco-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Almacen PQ E' and ingreso.producto.producto == 'Azufre sólido' %}<img src="{% static 'img/sulf-granel-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Almacen PQ E' and ingreso.producto.producto == 'Azufre Líquido' %}<img src="{% static 'img/sulf-liq-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                    {% if ingreso.hdr.sector == 'Almacen PQ E' and ingreso.producto.producto == 'Hipoclorito' %}<img src="{% static 'img/hipoclorito-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                </td>
                 <td>
                    {% if ingreso.hdr.sector == 'Porteria 2 E' and ingreso.producto.producto == 'Amoníaco' %}<img src="{% static 'img/amoniaco-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Porteria 2 E' and ingreso.producto.producto == 'Azufre sólido' %}<img src="{% static 'img/sulf-granel-tanker.png' %}" alt="Camión verde" width="50">{% endif %} 
                    {% if ingreso.hdr.sector == 'Porteria 2 E' and ingreso.producto.producto == 'Azufre Líquido' %}<img src="{% static 'img/sulf-liq-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                    {% if ingreso.hdr.sector == 'Porteria 2 E' and ingreso.producto.producto == 'Hipoclorito' %}<img src="{% static 'img/hipoclorito-tanker.png' %}" alt="Camión verde" width="50">{% endif%}
                </td>

              </tr>  
            {% endfor %}
        </tbody>
        <footer>
            <div class="col-3 rounded-pill" style="border: 1px solid rgba(255, 0, 0, 0.5); background-clip: padding-box;">
                <div class="  text-center">
                    <div>Cantidad de vehiculos: <strong>{{cantidad}}</strong></div>
                </div>
            </div>
        </footer>
    </table>
    <div class="container">
        <div  style="width: 100%; height: 5px; background: linear-gradient(92deg, #031633 0%, #00498d 50%, #5ae647fb 65%, #dc345d 80%);"> </div>
    </div>

    
    <br>
    <hr>

    <table style="width: 50%;">
        <caption>Referencias</caption>
        <thead>
            <th>Amoníaco</th>
            <th>Azufre liquido</th>
            <th>Azufre granel</th>
            <th>Hipoclorito</th>
        </thead>
        <body>
            <tr>
                <td>
                    <img src="{% static 'img/amoniaco-tanker.png' %}" alt="Camión verde" width="50">
                </td>
                <td>
                    <img src="{% static 'img/sulf-liq-tanker.png' %}" alt="Camión verde" width="50">
                </td> 
                <td>
                    <img src="{% static 'img/sulf-granel-tanker.png' %}" alt="Camión verde" width="50">
                </td>  
                <td>
                    <img src="{% static 'img/hipoclorito-tanker.png' %}" alt="Camión verde" width="50">
                </td>
            </tr>
            
            
        </body>
    </table>

</div>

{% endblock content %}
{% block js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    setInterval(function () {
        location.reload();
    }, 60000);
});
</script>
{% endblock js %}