{% extends "base/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.2-dist/css/bootstrap.css' %}">
<script src="{% static 'vendor/bootstrap-5.3.2-dist/js/bootstrap.bundle.js' %}"></script>

{% block content %}
<div class="container mt-5 pt-5 d-flex flex-column">
    <div class="container">
        <div class="container col-4 justify-content-center">
            <table class="table table-bordered table-striped">
                <div class="container-fluid d-flex align-items-center justify-content-between mb-3">
                    <div class="text-center"> Listado de empresas</div>
                        <div>
                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal" id="nuevaEmpresa">Agregar</button>
                        </div>
                    </div>
                <thead>
                    <tr class="text-center">
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transporte in transportes %}
                        <tr>
                            <td>
                                {{transporte.nombre}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container col-4 justify-content-center mt-5">
        <table class="table table-bordered table-striped">
           <div class="container-fluid d-flex align-items-center justify-content-between mb-3">
            <div class="text-center"> Listado de Camiones</div>
            <div>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal" id="nuevoCamion">Agregar</button>
            </div>
           </div>
            <thead>
                <tr class="text-center">
                    <th>Marca</th>
                    <th>Patente</th>
                </tr>
            </thead>
            <tbody>
                {% for camion in camiones %}
                    <tr>
                        <td>{{camion.marca}}</td><td>{{ camion.patente}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
         
    <div class="container col-4 justify-content-center mt-5">
        <table class="table table-bordered table-striped">
           <div class="container-fluid d-flex align-items-center justify-content-between mb-3">
                <div class="text-center"> Listado de Semis</div>
                    <div>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal" id="nuevoSemi">Agregar</button>
                    </div>
           </div>
            <thead>
                <tr class="text-center">
                    <th>Patente</th>
                </tr>
            </thead>
            <tbody>
                {% for semi in semis %}
                    <tr>
                        <td>
                            {{semi.patente}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="contenido">
               <!--  Aca va el formulario
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form_camion.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>        -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
        </div>
      </div>
    </div>
  </div>

  <script>
        console.log('script cargado')
        botones = document.querySelectorAll('.btn')
        botones.forEach(boton => {
            boton.addEventListener('click',function(){
                const id = boton.id
                console.log(id)
                const titulo = document.querySelector('#ModalLabel')
                const cuerpo = document.querySelector('#contenido')
                console.log(titulo)
                if(id === 'nuevaEmpresa'){
                    titulo.textContent='Nueva Empresa de transporte'
                    cuerpo.innerHTML =  `
                    <form method="post" action="{% url 'agregarTransporte' %}">
                    {% csrf_token %}
                        {{ form_transporte.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>`   
                }                 
    
                if(id === 'nuevoCamion'){
                    titulo.textContent = 'Nuevo Camion'
                    cuerpo.innerHTML =  `
                    <form method="post" action="{% url 'agregarCamion' %}">
                    {% csrf_token %}
                        {{ form_camion.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>`   
                }
                if(id === 'nuevoSemi'){
                    titulo.textContent = 'Nuevo Semi'
                }
            })
        });
            
</script>
{% endblock content %}