{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid d-flex flex-column mb-5">
    <div class="container fondo-transportes" style="height: 100px;"></div>

    <!-- tabla de empresas -->
    <div class="text-center pt-4 mb-5">
        <div>
            <h3>Lista de empresas</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-10 col-sm-8">
                <div class="float-end">
                    <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#modal" id="nuevaEmpresa">Agregar</button>
                </div>
                <table class="table table-bordered table-striped table-hover" id="tablaEmpresas">
                    <thead>
                        <th class="text-center">Nombre de Empresa</th>
                        <th class="text-center">Accion</th>
                    </thead>
                    <tbody>
                        {% for transporte in transportes%}
                        <tr>
                            <td>{{ transporte.nombre }}</td>
                            <td>
                                <div class=" d-flex justify-content-around">
                                    <form action="{% url 'editarTransporte' %}" method="POST" class="editar-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ transporte.id }}">
                                        <button class="btn btn-warning bi bi-pencil-square editar" data-id = "{{transporte.id}}" data-nombre ="{{transporte.nombre}}"></button>
                                    </form>
                                    
                                    <form action="{% url 'eliminarTransporte' %}" method="POST" class="eliminar-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ transporte.id }}">
                                        <button class="btn btn-danger bi bi-trash3 eliminar" data-id = "{{transporte.id}}" data-nombre = "{{transporte.nombre}}"></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

     <!-- Modal -->
     <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Nueva Empresa de Transporte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="contenido">
                    <form method="post" action="{% url 'agregarTransporte' %}">
                        {% csrf_token %}
                        {{ form_transporte|crispy }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        let tablaEmpresas = new DataTable('#tablaEmpresas',{
        responsive : true,
        language:{
            url:'/static/vendor/datatables/es-Es.json'
        }
    });

    const csrf = `{{csrf_token}}`

    document.getElementById('tablaEmpresas').addEventListener('click',(evento) => {
        const botonEliminar = evento.target.closest('.eliminar')
        const botonEditar = evento.target.closest('.editar')

        if (botonEliminar){
            evento.preventDefault()
            id = evento.target.getAttribute('data-id')
            nombre = evento.target.getAttribute('data-nombre')
    
            Swal.fire({
                title: 'Atención!',
                text: `Vas a eliminar a la empresa ${nombre}`,
                icon: 'warning',
                confirmButtonText: 'Aceptar',
                confirmButtonColor: '#DC3545',
                showCancelButton: true,
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = evento.target.closest('form');
                    if (form) {
                        form.submit(); // Envía el formulario
                    }
                }
            })
        }

        if (botonEditar){
            evento.preventDefault()
            id = evento.target.getAttribute('data-id')
            nombre = evento.target.getAttribute('data-nombre')

            Swal.fire({
                title: 'Atención!',
                text: `Vas a editar la empresa ${nombre}`,
                icon: 'warning',
                confirmButtonText : 'Aceptar',
                confirmButtonColor : '#DC3545',
                showCancelButton : true,
                cancelButtonText: 'Cancelar'
            }).then((result) =>{
                if (result.isConfirmed){
                    const form = evento.target.closest('form')
                    if (form){
                        form.submit()
                    }
                }
            })
        }
    })
    })
</script>
{% endblock js %}