<!DOCTYPE html>
<html lang="en" xmlns:pdf="http://www.reportlab.com/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de ruta</title>
    <style>
        @page {
            size: A4;
            margin: 1cm;
        }
        .titulo {
            width: 100%;
            border: 1px solid black;
        }
        .info {
            text-align: center;
        }
        .contenido {
            width: 50%;
        }
        table th {
            padding-top: 2x;
            font-size: 12px;
        }
        table td {
            padding-top: 2px;
            font-size: 11px;
            margin-left: 5px;
        }
        label {
            font-size: 12px;
        }
        b{
            font-size: 11px;
        }
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .td-titulo{
            background-color: darkgray;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <table style="width: 100%;" class="titulo">
            <tr>
                <td class="info" rowspan="2" style="width: 20%;" ><b>REGISTRO</b> <br>
                    <b>RIN-09-EXP-03-01</b> </td>
                
                <td rowspan="3" style="width: 50%; text-align: center;"><img src="{{logo_path}}" width="1.35cm" height="1.35cm"> &nbsp; <b>FÁBRICA MILITAR RÍO TERCERO</b></td>
                <td style="width: 15%;"><b>Fecha Vigencia</b></td>
                <td class="info"><b>11JUL25</b></td>
            </tr>

            <tr>
                <td style="width: 15%;"><b>Versión</b></td>
                <td class="info"><b>17</b></td>
            </tr>

            <tr>
                <td style="width: 20%; text-align: center;"><b>ORIGINAL</b></td>
                <td colspan="2" style="text-align: center;"><b> Página 1 de 1</b></td>    
            </tr>

            <tr>
                <td colspan="4" style="text-align: center;"><b><p style="font-size: 14px; padding-top: 10px;" > HOJA DE RUTA DE INGRESO DE MATERIA PRIMA</p></b></td>
            </tr>

            <tr>
                <td colspan="4" style="text-align: center;"><b><p style="font-size: 10px;" > PRODUCCIÓN QUÍMICA FMRT </p></b></td>
            </tr>
            
        </table>
        <table width="100%" cellspacing="4">
            <tr>
            <!-- Columna izquierda -->
                <td width="50%" valign="top">
                    <!-- Tabla Portería 2 -->
                    <table width="100%" class="contenido">
                        <tr>
                            <td colspan="2" class="td-titulo"><b>PORTERÍA Nº2</b></td>
                        </tr>
                        <tr>
                            <td style="width: 60%;">
                                Fecha: <b>{{fecha|date:"d/m/y"}}</b><br>
                                Hora: <b>{{fecha|time:"H:i"}}</b><br>
                                Empresa: <b>{{empresa}}</b><br>
                                Conductor: <b>{{conductor}}</b><br>
                                DNI: <b>{{dni}}</b><br>
                                Producto: <b>{{producto}}</b>
                            </td>
                            <td style="width: 40%;">
                                <br><br><br><br>
                            Atendió: <br>
                            <b>{{responsable_porteria}}</b>
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- Columna derecha -->
                <td width="1mm"></td>
                <!-- Espacio entre columnas -->
                <td width="50%" valign="top">
                <!-- Tabla Requisitos Chofer -->
                <table width="100%" class="contenido">
                    <tr>
                        <td colspan="2" class="td-titulo"><b>REQUISITOS PARA EL CHOFER (SHyMA)</b></td>
                    </tr>
                    <tr>
                        <td>
                            Fecha: <b>{{epp.fecha_control|date:"d/m/y H:i"}}</b><br>
                            <b>Elementos de Seguridad:</b><br>
                            Casco:<b>{{epp.casco}} </b><br>
                            Máscara:<b>{{epp.mascara}}</b><br>
                            Antiparras:<b>{{epp.antiparras}}</b><br>
                            Botines:<b>{{epp.botines}}</b>
                        </td>
                        <td>
                            <br><br>
                            Pantalon y Camisa:<b>{{epp.pantalon_camisa}} </b><br>
                            Matafuego:<b>{{epp.matafuego}}</b><br>
                            Arrestallamas:<b>{{epp.arrestallamas}}</b><br>
                            Carteleria:<b>{{epp.carteleria}}</b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
        <table style="margin-top: 2px; width: 100%; border-collapse: collapse;">
    <tr>
        <td class="td-titulo"><b>ATENCIÓN</b></td>
    </tr>
    <tr><td  style="text-align: center;background-color: black;color: white; font-weight: 600; font-size: large;"><P>EL VEHÍCULO UNA VEZ DESCARGADO</P><p> NO DEBERÁ PERMANECER</p><p>ESTACIONADO DENTRO DE FMRT</p></td></tr>
</table>
        <!-- Tabla de Almacen PQ -->
        <table style="margin-top: 2px;">
            <tr>
                <td colspan="2" class="td-titulo"><b> ALMACEN PQ </b></td>
            </tr>
            <tr>
                <td style="width: 60%;">
                    Hora de Ingreso:&nbsp; <b>{{balanza.hora_ingreso|date:"H:i"}} </b><br>
                    Fecha: &nbsp; <b> {{balanza.hora_ingreso|date:"d/m/y"}} </b><br>
                    Proveedor:&nbsp; <b> {{balanza.proveedor}} </b><br>
                    Remito Nº:&nbsp; <b> {{balanza.remito}} </b><br>
                    Peso de Origen:&nbsp; <b> {{balanza.peso_origen}} Kgs</b><br>
                    Observaciones:&nbsp; <b> {{balanza.observaciones_pq}}DOD según el IN 11-IQ-07 </b>
                </td>
                <td style="width: 40%">
                    <br><br><br><br><br>
                    Atendió:&nbsp; <b> {{balanza.responsable_entrada}} </b>
                </td>
            </tr>
        </table>
        <table style="margin-top: 2px;">
            <tr>
                <td colspan="2" class="td-titulo"><b> INSPECCION QUIMICA </b></td>
            </tr>
            <tr>
                <td style="width: 60%;">
                    Fecha:&nbsp; <b> {{iquimica.fecha|date:"d/m/y"}} </b><br>
                    Hora de Extracción de Muestra: <b> {{iquimica.fecha|time:"H:i"}} </b><br>
                    Autorizado a Descargar:&nbsp; <b> {{iquimica.descargar}} </b><br>
                    Observaciones:&nbsp; <b> {{iquimica.observacion}} </b>
                </td>
                <td style="width: 40%"> 
                    <br><br><br>                   
                    Atendió:&nbsp; <b> {{iquimica.responsable}} </b>
                </td>
            </tr>
        </table>
        <table style="margin-top: 2px;">
            <tr>
                <td colspan="4" class="td-titulo"><b> PAMO/PSUL</b></td>
            </tr>
            <tr>
                <td>
                    Materia Prima:&nbsp; <b> {{pamo.producto}} </b>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="titulo" style="text-align: center; width:50%; vertical-align: center;" >
                            <thead>
                                <tr style="background-color: lightgray;">
                                    <th style="padding-top: 2px;"></th>
                                    <th style="padding-top: 2px;">HORA</th>
                                    <th style="padding-top: 2px;">PRESION</th>
                                    <th style="padding-top: 2px;">TEMPERATURA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>ENTRADA</b></td>
                                    <td> {% if pamo.hora_ingreso %}{{pamo.hora_ingreso|time:"H:i"}} Hs.{% endif %}</td>
                                    <td>{% if pamo.presion_ingreso %} {{pamo.presion_ingreso}} Kgs.{% endif %}</td>
                                    <td>{% if pamo.temperatura_ingreso %} {{pamo.temperatura_ingreso}} °C.{% endif %}</td>
                                </tr>
                                <tr>
                                    <td><b>SALIDA</b></td>
                                    <td> {% if pamo.hora_salida %}{{pamo.hora_salida|time:"H:i"}} Hs.{% endif %}</td>
                                    <td>{% if pamo.presion_salida %} {{pamo.presion_salida}} Kgs.{% endif %}</td>
                                    <td>{% if pamo.temperatura_salida %} {{pamo.temperatura_salida}} °C.{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                </td>
                <tr>
                    <td>
                    Atendio:&nbsp; <b> {{pamo.responsable}} </b>
                    </td>
                </tr>
            </tr>
        </table>
        <table style="margin-top: 2px;">
            <tr>
                <td colspan="2" class="td-titulo"><b>ALMACEN PQ</b></td>
            </tr>
            <tr>
                <td style="width: 60%;">
                    Fecha:&nbsp; <b> {{balanza.hora_salida|date:"d/m/y"}} </b><br>
                    Hora de Salida:&nbsp; <b> {{balanza.hora_salida|date:"H:i"}} </b><br>
                    Peso del Vehículo en FMRT:&nbsp; <b> {% if balanza.peso_fmrt != 0 %} {{balanza.peso_fmrt}} {% else %} {% endif %} </b><br>
                    Peso del Vehículo vacio:&nbsp; <b> {% if balanza.peso_vacio != 0 %} {{balanza.peso_vacio}} {% else %} {% endif %} </b><br>
                    Peso de Taquilla:&nbsp; <b> {% if balanza.peso_taquilla != 0 %} {{balanza.peso_taquilla}} {% else %} {% endif %} </b><br>
                    Peso de Bolsas/Tarima:&nbsp; <b> {% if balanza.peso_bolsa_tarima != 0 %} {{balanza.peso_bolsa_tarima}} {% else %} {% endif %} </b><br>
                    Peso Neto:&nbsp; <b> {% if balanza.peso_neto != 0 %} {{balanza.peso_neto}} {% else %} {% endif %} </b><br>
                    Observaciones:&nbsp; <b> {{observaciones_eiq}} </b>
                </td>
                <td style="width: 40%">
                    <br><br><br><br><br><br><br>
                    Atendió:&nbsp; <b> {% if balanza.responsable_salida != None %} {{balanza.responsable_salida}} {% else %} {% endif %} </b>
                </td>
            </tr>
        </table>
        <table style="margin-top: 2px;">
            <tr>
                <td colspan="2" class="td-titulo"><b>PORTERIA Nº2 </b></td>
            </tr>
            <tr>
                <td style="width: 60%;">
                    Fecha:&nbsp; <b> {{egreso.fecha_salida|date:"d/m/y"}} </b>
                    Verificación del vehiculo y Carga:&nbsp; <b> {{egreso.verificacion}} </b><br>
                    Salida Autorizada:&nbsp; <b> {{egreso.salida_autorizada}} </b><br>
                    Hora de Salida:&nbsp; <b> {{egreso.fecha_salida|time:"H:i"}} </b><br>
                </td>
                <td style="width: 40%">
                    <br><br>
                    Atendió:&nbsp; <b> {{egreso.responsable}} </b>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>